# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Jupyter
*.ipynb
.ipynb_checkpoints
.notebooks/
outputs/
*.log

# Data / Models
data/
runs/
checkpoints/
*.pt
*.pth
*.h5
**/lightning_logs/

# Virtual environments
.venv